:global(body) {
        height: 100vh;      margin : 0;
        width : 100vw;      padding: 0;
        color : #888;     user-select: none;
        overflow: hidden;	font-size  : calc(3vw + 3vh);
                            font-family: Gabriola, Calibri;
}

main { 
        display: flex;      flex-direction: column;
        height : 100%;      overflow: hidden;
        width  : 100%;      place-items: center;
                            background-color: black;
                            place-content: center;
}

h2:is(#ST)  { visibility: hidden }
h2  { 
        display: flex;      text-align: center;             
        right  : 1ch;       position: fixed;
        top    : 1ch;       line-height: 1.5ch;
        margin : 0;         max-width: 1.4ch;
        padding: 0;         color: #62a;
                            text-shadow: 0 0 4pt #62a
}

h3     {  
        bottom: -2ch;       position : fixed;
        right : 1vw;        line-height: 1ch;
        color : #cb0;     font-size: 2ch;
}

#board {                       
        display: grid;       position: relative;
        width  : 94%;        grid-template:  auto /  repeat(4, 22%);
        height : 90%;        box-shadow   :  0 0 3ch #529;
        left   : 3vw;        border-radius: 4vw; 
        z-index: 0;          align-self: start;
        overflow: hidden;    justify-items: center;
 
                              
}
#board:hover { cursor: pointer }	


@media screen and (orientation: portrait)
{
    br     { display: none }

    #board { left: 0;
        grid-template: repeat(4, 1fr) / repeat(4, 20%);
        height: 86vh;      aspect-ratio: 1/2.2; 
        width : 100vw;     gap: 1ch;
        justify-content: space-around;
    }

    h2 { 
        left : 1ch;          position: fixed; 
        top  : 3vh;          font-size: calc(3vw + 3vh); 
        right: unset;        max-width: unset;
        color: inherit;      text-shadow: 0 0 3pt #000
    }

    h3, hr { display: flex;   align-items: center;  line-height: 1.5ch  }
    hr {  width: 3ch; visibility: hidden }
    hr::before {content: '>';  color: red; visibility: visible}
    
    /*.zoomed {  display: flex; position: absolute; 
                place-self: center !important} */
    @media screen and (min-aspect-ratio: 3/4)  { }
}
