:root {
        line-height : 1.4;
        font-weight : 400;
        color-scheme: dark;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing  : antialiased;
        -moz-osx-font-smoothing : grayscale;
        -webkit-text-size-adjust: 100%;
        font-family:    Gabriola, Inter, system-ui, Avenir, Calibri,
                        Helvetica, Arial, sans-serif;
}

  a   { font-weight: 500;       color: #646cff;
                                text-decoration: inherit;
} a:hover {color: #45e}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {border-color: #646cff}

button:focus,
button:focus-visible { outline: 4px auto -webkit-focus-ring-color }

body {  display: flex;       position    : fixed; 
        margin : 0;          overflow    : hidden;
        padding: 0;          user-select : none;
        height : 100vh;      min-height  : 100vh;
        width  : 100vw;      font-size   : calc(3vw + 3vh); 
                             color       : #888;
}
header {                     position: absolute;
        height  : 6vmin;     will-change: filter;
        width   : 6vmin;     max-width  : 3ch; 
        right   : 14vmin;    transition : filter 300ms; 
        top     : 1vmin;     z-index: 1000
                             
} 
.svelte, .github   {max-width:0}  
.logo {padding: 2vmin; }
.logo:hover { filter: drop-shadow(0 0 4vmin #646cffaa) }
.logo.svelte:hover  { filter: drop-shadow(0 0 4vmin #ff3e00aa) }
.logo:hover .svelte { max-width: 3ch;    }

main { 
        display: flex;      flex-direction: column;
        height : 100%;      overflow: hidden;
        width  : 100%;      place-items: center;
                            background-color: black;
                            place-content: center;
}

h2:is(#ST)  { visibility: hidden }
h2  { 
        display: flex;      text-align: center;             
        right  : 1ch;       position: fixed;
        top    : 1ch;       line-height: 1.3ch;
        margin : 0;         max-width: 1.4ch;
        padding: 0;         color: #62a;
                            text-shadow: 0 0 4pt #62a
}

h3     {  
        bottom: -2ch;       position : fixed;
        right : 1vw;        line-height: 1ch;
        color : #cb0;     font-size: 2ch;
}

#board {                       
        display: grid;       position     : relative;
        width  : 94%;        grid-template:  auto /  repeat(4, 22%);
        height : 90%;        box-shadow   :  0 0 3ch #529;
        left   : 3vw;        border-radius: 3vmin; 
        z-index: 0;          align-self   : start;
        overflow: hidden;    justify-items: center;
 
                              
}
#board:hover { cursor: pointer }	


@media screen and (orientation: portrait)
{
    br     { display: none }

    #board { left: 0;
        grid-template: repeat(4, 1fr) / repeat(4, 20%);
        height: 86vh;      aspect-ratio: 1/2.2; 
        width : 100vw;     gap: 1ch;
        justify-content: space-around;
    }

    h2 { 
        left : 1ch;          position: fixed; 
        top  : 3vh;          font-size: calc(3vw + 3vh); 
        right: unset;        max-width: unset;
        color: inherit;      text-shadow: 0 0 3pt #000
    }

    h3, hr { display: flex;   align-items: center;  line-height: 1.5ch  }
    hr {  width: 3ch; visibility: hidden }
    hr::before {content: '>';  color: red; visibility: visible}
    
    /*.zoomed {  display: flex; position: absolute; 
                place-self: center !important} 
    @media screen and (min-aspect-ratio: 3/4)  { }
    */
}
